<!DOCTYPE html>
<html>

<head>
  <script type="module" src="./{{metadata.[@id]}}.js"></script>
</head>

<body>
  <h1>{{metadata.[stanza:label]}}</h1>

  <pre><code>{{metadata.[stanza:usage]}}</code></pre>

  {{{metadata.[stanza:usage]}}}
</body>

</html>
