<!DOCTYPE html>
<html>

<head>
  <title>List of Stanzas</title>
</head>

<body>
  <div id="contents">
    <h1 class="page_ttl">List Stanza</h1>
    <div class="showcase_index">
      {{#each stanzas as |stanza|}}
        <div class="list_item">
          <div class="list_ttl">
            <a href="./{{stanza.[@id]}}.html">{{stanza.[stanza:label]}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</body>

</html>