<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{metadata.[stanza:label]}}</title>
    <link rel="stylesheet" href="./-togostanza/app.css" />

    <script type="module" src="./{{metadata.[@id]}}.js" async></script>

    <script type="module">
      import createHelpApp from './-togostanza/help-app.js';

      const metadata = {{{to-json metadata}}};

      createHelpApp(metadata).mount('body');
    </script>
  </head>

  <body>
  </body>
</html>
